* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150;
  height: 75px;
}

.links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
