* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #44c219;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  position: sticky;
  top:0;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 150;
  height: 75px;
}

.links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  min-height: 400px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  min-height: 65px;
}

.description {
  font-size: 1.5rem;
  min-height: 100px;
  max-width: 545px;
}

.cast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.actors {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.actors img {
  width: 175px;
  height: 200px;
}

.actor {
 text-align: center;
}

.quotes {
  min-height: 300px;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 2rem;
}

.slide-item {
  min-height: 200px;
  margin: auto;
}

.glider-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: #44c219;
}

.quote-by {
  font-size: 1.2rem;
  color: #44c219;
}

.watch-now {
  padding: 4rem 0;
  width: 50%;
  margin: auto;
  text-align: center;
}

.watch-now a {
  height: 50px;
  width: 200px;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  background-color: #44c219;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.25s ease;
}

.watch-now a:hover {
  background-color: white;
  color: #44c219;
}

.glider-dot:hover {
  background: #44c219 !important;
}
